@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: 'Lato', sans-serif;
}

h1 {
    font-size: 2.25rem; /* 36px */
    line-height: 2.5rem; /* 40px */
}

h2 {
    font-size: 1.875rem; /* 30px */
    line-height: 2.25rem; /* 36px */
}

h3 {
    font-size: 1.5rem; /* 24px */
    line-height: 2rem; /* 32px */
}

h4 {
    font-size: 1.25rem; /* 20px */
    line-height: 1.75rem; /* 28px */
}

h5 {
    font-size: 1.125rem; /* 18px */
    line-height: 1.5rem; /* 24px */
}

h6 {
    font-size: 1rem; /* 16px */
    line-height: 1.5rem; /* 24px */
}

p {
    font-size: 1rem; /* 16px */
    line-height: 1.5rem; /* 24px */
}

.lato-thin {
    font-family: "Lato", sans-serif;
    font-weight: 100;
    font-style: normal;
}

.lato-light {
    font-family: "Lato", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.lato-regular {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.lato-bold {
    font-family: "Lato", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.lato-black {
    font-family: "Lato", sans-serif;
    font-weight: 900;
    font-style: normal;
}

.lato-thin-italic {
    font-family: "Lato", sans-serif;
    font-weight: 100;
    font-style: italic;
}

.lato-light-italic {
    font-family: "Lato", sans-serif;
    font-weight: 300;
    font-style: italic;
}

.lato-regular-italic {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: italic;
}

.lato-bold-italic {
    font-family: "Lato", sans-serif;
    font-weight: 700;
    font-style: italic;
}

.lato-black-italic {
    font-family: "Lato", sans-serif;
    font-weight: 900;
    font-style: italic;
}